#dropdown {
  width: 200px
}
#dropdown li{
  list-style:none;
  line-height: 30px;
  background: grey;
  margin: 2px;
}
 
#dropdown li a{
  margin-left: 10px;
  color: #FFF;
  text-decoration: none;
}
 
#dropdown ul{
  display:none;
  padding: 0px;
  background: seagreen
}
 
#dropdown ul li{
  background-color: blueviolet
}